


<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="UWC ISAK Japan Matrix System"/>
    <meta name="keywords" content="UWC, ISAK, Japan, Matrix"/>
    <meta name="author" content="Ruben Pinzon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <title>Matrix Dashboard</title>

  </head>
  <body class="">
    <div>
      <div>



      </div>
    </div>
    <div class="header header-fixed unselectable header-animated">
      <div class="header-brand">
        <div class="nav-item no-hover"><a class="title" href="/dashboard"> UWC ISAK Japan | Matrix</a></div>
      </div>
    </div>

<div class="content u-center mt-10">
  <div class="row">



    <div class="col-3">
      <div class="card">
        <div class="content text-center">
          <div class="avatar mt-2" data-text=""><img src="https://lh3.googleusercontent.com/a-/AFdZucqRXYi3dOWFq5pNBwSb-BhOMbwsA6z4o3i1_934lA=s96-c"/></div>
          <p>
            Hi Bernard Lee (G11) you are &nbsp;
            <h5 class="font-bold subtitle">On-Campus</h5>
          </p>
          <p class="info">You live at R2-10(B)</p>
          <div class="card__action-bar pb-0"></div>
          <p class="info m-0">Roles and access level</p>
          <div class="tag tag--warning">student</div>

          <div class="tag tag--info">basic</div>
          <div class="card__action-bar mt-2"></div>
          <p class="info m-0">Last seen  Mar 26 (Sun) 06:49</p>
          <div class="card__action-bar mt-2"></div><a class="btn btn-danger" href="/logout">Log out</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <p class="font-bold m-1">Gozde Kamer &nbsp;</p>
          <p class="info m-1">and</p>
          <div class="tag text-left">
            <div class="avatar avatar--xsmall mt-1" data-text="Lj"><img src="https://lh3.googleusercontent.com/a/AItbvmmkRXTKbc9RK1rPQPXHtXYScdTCB_06jk9oLfJc=s96-c"/></div>
            <p class="info m-0">&nbsp; Lyn Jillian Shearer</p>
          </div>
          <div class="tag text-left">
            <div class="avatar avatar--xsmall mt-1" data-text="Ra"><img src="https://lh3.googleusercontent.com/a/AItbvmkwbvVpH1nhFxumnzmQ3EPLNy6IwuIp_ekaWWaI=s96-c"/></div>
            <p class="info m-0">&nbsp; Ranem Al Shibani</p>
          </div>
          <div class="tag text-left">
            <div class="avatar avatar--xsmall mt-1" data-text="Rr"><img src="https://lh3.googleusercontent.com/a-/AFdZucrqS_2hWi_l3pHNnaXNnnh49YScgSLWn1oE8g4t=s96-c"/></div>
            <p class="info m-0">&nbsp; Robbie Ryota Shaver</p>
          </div>
          <div class="tag text-left">
            <div class="avatar avatar--xsmall mt-1" data-text="Yz"><img src="https://lh3.googleusercontent.com/a-/AFdZucoXXuEy-Da-xGdFWO_oySQapHC2xQX4Pxlo7hwfmA=s96-c"/></div>
            <p class="info m-0">&nbsp; Yining Zhang</p>
          </div>
          <div class="tag text-left">
            <div class="avatar avatar--xsmall mt-1" data-text="Bl"><img src="https://lh3.googleusercontent.com/a-/AFdZucqRXYi3dOWFq5pNBwSb-BhOMbwsA6z4o3i1_934lA=s96-c"/></div>
            <p class="info m-0">&nbsp; Bernard Lee</p>
          </div>
          <p class="info">Belong to the same advisory group as you</p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card">
        <h3 class="text-center">Dashboard</h3>
        <div class="card__action-bar"></div>
        <div class="row">
          <div class="col text-center">
            <p class="m-0 min-h-64">Bearly Awake</p><a class="p-0 m-0" href="/mag"><img class="avatar" src="static/assets/bear-v-2.png" alt="Bearly Awake"/></a>
          </div>
          <div class="col text-center">
            <p class="m-0 min-h-64">New Bearly</p><a class="p-0 m-0" href="/new_bearly"><img class="avatar" src="static/assets/badge.png" alt="New Bearly"/></a>
          </div>
          <div class="col text-center">
            <p class="m-0 min-h-64">Pending Trips</p><a class="p-0 m-0" href="/dashboard#overnight"><img class="avatar" src="static/assets/slippers.png" alt="Request an Overnight Trip"/></a>
          </div>

          <!--########################################Residential################################-->

          <!--########################################Nurse################################-->
        </div>
      </div>
      <div class="card">
        <h6 class="u u-font-alt font-thin uppercase u-center mb-2">Campus Sign Out</h6>
        <form action="" method="post" novalidate=""><input id="csrf_token" name="csrf_token" type="hidden" value="ImQ5ZmRmM2E1MTVhNjJhZDkyMGQ0OTk3NTg3MDAwM2RjODU1MzZmMDEi.ZCaBkg.rRSc1QkJpuoh7PllfOJO98ztVNc">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <div class="form-group-label label-small">+81</div><input class="form-group-input input-small" id="contact_phone" name="contact_phone" placeholder="Contact Phone" required type="text" value="">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group"><input class="input-small" id="destination" name="destination" placeholder="Destination" required type="text" value=""></div>
            </div>
            <div class="col-2">
              <div class="form-group"><input class="form-group-btn btn-primary btn-small" id="confirm" name="confirm" type="submit" value="Sign Out"></div>
            </div>
          </div>
        </form>
      </div>

      <div class="card">
        <h6 class="u-font-alt font-thin uppercase u-center mb-2">Request Overnight Trip</h6>
<!-- Form fields-->
<!-- contact_phone = StringField('Contact Phone', validators=[DataRequired()])-->
<!--     destination = StringField('Destination', widget=TextArea())-->
<!--     locations = RadioField('Locations', choices=Config.LOCATIONS)-->
<!--     day_trip = BooleanField('Day Trip')-->
<!--     date_start = DateField('Start Date:', validators=[DataRequired()])-->
<!--     date_return = DateField('Return Date:', validators=[DataRequired()])-->
<!--     submit = SubmitField('Sign Out')-->
<form class="m-2" action="" method="post" novalidate=""><input id="csrf_token" name="csrf_token" type="hidden" value="ImQ5ZmRmM2E1MTVhNjJhZDkyMGQ0OTk3NTg3MDAwM2RjODU1MzZmMDEi.ZCaBkg.rRSc1QkJpuoh7PllfOJO98ztVNc">
  <div class="mb-1">
    <div>
      <label class="font-bold">Title for the trip<span class="info inline font-light">Short name (max. 20)</span></label>
      <div class="section-body row"><input class="input-small" id="name" name="name" placeholder="short title" required type="text" value="">
        <div class="section required info">

        </div>
      </div>
    </div>
    <div>
      <label class="font-bold">Timings<span class="info inline font-light">Enter expected time</span></label>
      <div class="section-body row">
        <div>
          <div><label for="date_start">Start Date:</label></div>
          <div><input class="input-small" id="date_start" name="date_start" required type="date" value=""></div>
          <div class="section required info">

          </div>
        </div>
        <div>
          <div><label for="time_start">Time Start:</label></div>
          <div><input class="input-small" id="time_start" name="time_start" required type="time" value=""></div>
          <div class="section required info">

          </div>
        </div>
      </div>
    </div>
    <div class="section-body row">
      <div>
        <div><label for="date_return">Return Date:</label></div>
        <div><input class="input-small" id="date_return" name="date_return" required type="date" value=""></div>
        <div class="section required info">

        </div>
      </div>
      <div>
        <div><label for="time_return">Time Return:</label></div>
        <div><input class="input-small" id="time_return" name="time_return" required type="time" value=""></div>
        <div class="section required info">

        </div>
      </div>
    </div>
  </div>
  <div class="mb-1">
    <label class="font-bold"><label class="label-small" for="contact_phone">Contact Phone</label><span class="info inline font-light">Valid phone number in Japan</span></label>
    <div class="section-body">
      <div class="form-group">
        <label class="form-group-label label-small">+81</label><input class="input-small form-group-input" id="contact_phone" name="contact_phone" placeholder="Enter your contact number" required type="text" value="">
      </div>
    </div>
    <div class="section required info">

    </div>
  </div>
  <div class="mb-1">
    <label class="font-bold"><label for="destination">Destination</label></label>
    <div><textarea class="input-small" id="destination" name="destination" placeholder="Details, companions, transportation, etc." required>
</textarea></div>
    <div class="section required info">

    </div>
    <p style="Display:None;"><input id="id" name="id" type="text" value=""></p>
  </div>
  <div class="mb-1" style="display:grid"><input class="btn-primary" id="request" name="request" type="submit" value="Request"></div>
</form>
      </div>


    </div>
    <div class="modal modal-xlarge" id="overnight"><a class="modal-overlay close-btn" href="/dashboard" aria-label="Close"></a>
      <div class="modal-content">
        <iframe src="/overnight" style="height:400px; width:100%"></iframe>
      </div>
    </div>
  </div>
</div>
  </body>
</html>