{% extends "base_template.html" %}
{% block title %}CodeShare - Profile{% endblock %}
{% block css %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center" style="margin-top: 160px;">
        <div class="col-md-9">
            <h1>{{ username }}'s Profile</h1>
            <div class="row">
                <div class="col-md-2">
                    <img class="avatar float-right rounded-circle" src="https://picsum.photos/200" alt="Avatar Placeholder">
                </div>
                <div class="col-md-4" style="padding-top: 20px">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Total number of Posts:</p>
                            <p>Total number of Likes:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{ stats[0] }}</p>
                            <p>{{ stats[1] }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <hr>
            <h2>Posts</h2>
            {% if posts %}
                {% for post in user.posts %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="/profile/{{ post.username }}">{{ post.username }}</a> - {{ post.datetime_posted }}</h6>
                            <p class="card-text">{{ post.content }}</p>
                            <pre><code class="language-{{ post.code_language }}">{{ post.code }}</code></pre>
                        </div>
                        <div class="card-footer">
                            <h3> Was this helpful?
                                <a href="/add_like/{{ post.id }}"><button type="button" class="btn btn-outline-success btn-sm w-auto">
                                    <i class="bi bi-hand-thumbs-up"></i> +
                                </button></a>
                                <span class="badge bg-secondary">{{ post.like_count }}</span>
                                <a href="/add_dislike/{{ post.id }}"><button type="button" class="btn btn-outline-danger btn-sm w-auto">
                                    <i class="bi bi-hand-thumbs-down"></i> -
                                </button></a>
                            </h3>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>You have not posted anything yet.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
